<app-container>
  <section class="main-info">
    <section class="info aparecer-x indexando">
      <div class="info_principal">
        <p class="info_principal-titulo">Aroni Ordoñez</p>
        <p class="info_principal-carrera">Software Engineer</p>
      </div>
      <div class="info_links">
        <a #home this.linkClicked="!this.linkClicked" [routerLink]="['/']">Inicio</a>
        <a #proyects [routerLink]="['/proyects']">Proyectos</a>
        <a #contact [routerLink]="['/info']" *ngIf="!activate">Infornacion</a>
        <a #contact [routerLink]="['/info']" *ngIf="activate">.</a>
      </div>
    </section>
    <section class="details">
      <div class="info_links opacar-texto detail_section1">
        <a href="https://twitter.com/home">Twitter ↗</a>
        <a href="https://m.facebook.com/profile.php/?id=100007739748809" target="_blank">Facebook ↗</a>
        <a href="https://wa.link/qhpsx4" target="_blank">Whatsaap ↗</a>
      </div>
    </section>
  </section>
</app-container>
