/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
}
body {
  height: 100vh;
  margin: 0;
}

p {
  margin: 0;
}
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.aparecer-y {
  animation: aparecer 1.5s ease-in-out;
  -webkit-animation: aparecer-y 1.5s ease-in-out;
}

@keyframes aparecer-y {
  0% {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
  100% {
    filter: blur(0);
    -webkit-filter: blur(0);
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

.aparecer-x {
  animation: aparecer 1.5s ease-in-out;
  -webkit-animation: aparecer-x 1.5s ease-in-out;
}

@keyframes aparecer-x {
  0% {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transform: translateX(200%);
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
  }
  100% {
    filter: blur(0);
    -webkit-filter: blur(0);
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
.aparecer-x1{
  animation: aparecer 1.5s ease-in-out;
  -webkit-animation: aparecer-x1 1.5s ease-in-out;
}

@keyframes aparecer-x1 {
  0% {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transform:translateX(-100%);
    -webkit-transform:translateX(-100%);
    -moz-transform:translateX(-100%);
    -ms-transform:translateX(-100%);
    -o-transform:translateX(-100%);
}
  100% {
    filter: blur(0);
    -webkit-filter: blur(0);
    transform: translateX(0)  ;
    -webkit-transform: translateX(0)  ;
    -moz-transform: translateX(0)  ;
    -ms-transform: translateX(0)  ;
    -o-transform: translateX(0)  ;
}
}
